<<<<<<< HEAD



.linear-gradient-background-with-more-colors {
  height: 100vh;
  background-image: linear-gradient(red, blue, yellow, orange);
=======



.linear-gradient-background-with-more-colors {
  height: 100vh;
  background-image: linear-gradient(red, blue, yellow, orange);
>>>>>>> b8065e3 (ASPIRE)
}